# Add any directories, files, or patterns you don't want to be tracked by version control
node_modules
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
*.sqlite
config.json